.react-calender-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width: 95%;
}

.react-calendar {
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    background:#8cc85b;
}

.Calendar th,
.Calendar td {
    padding: 7px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.Day-inner {
    border: none;
    height: 30px;
    width: 30px;
}

.Day:focus,
.Day:focus > .Day-inner {
    background: #2980b9;
    color: #fff;
}

.Day.today {
    background: #8cc85b;
}
.Day.today > .Day-inner {
    background: #8cc85b;
    color: white;
}

.Day.other-month{
    background-color: #bdc3c7;
}
.Day.other-month > .Day-inner {
    background-color: #bdc3c7;
}