.react-calender-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width: 95%;
}

.react-calendar * {
    background-color: inherit;
}
.react-calendar {
    background-color: rgb(238, 238, 238);
    /* border: 1px solid red; */
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    margin: 20px;
    color: rgb(42, 135, 147);
}

.Calendar th,
.Calendar td {
    padding: 7px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.nav {
    justify-content: center;
}
.nav-inner:hover {
    background-color: rgba(255, 255, 255, 0.705);
}
.nav-inner {
    border: 1px hidden blue;
    border-radius: 5px;
    background-color: white;
    height: 25px;
    width: 30px;
}
.month, .year {
    font-size: 25px;
}
.Day:hover {
    background: #d4ffb1;
}
.Day {
    cursor: pointer;
    background-color: white;
    /* background-color: rgb(238, 238, 238); */
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: 50px;
}
.Day-inner {
    all: unset;
    color: black;
    font-weight: normal;
    text-align: center;
    border: none;
    height: 30px;
    width: 30px;
    background-color: inherit;
    text-decoration: none;
}
.Day-inner:focus{
    all: unset;
    font-weight: bolder;
    /* background-color: red;
    border: 1px solid orange; */
    /* text-decoration: none; */
}
.Day:focus {
/* .Day:focus,
.Day:focus > .Day-inner { */
    background: #2980b9;
    color: #fff;
}

.cal-title {
    font-size: 30px;
    color: #1d5e66;
    text-align: center;
}

.outer-div-container-calendar{ 
    display:flex;
    width: 90%;
    justify-content: space-between;
}

.Day.today {
    /* background: #8cc85b; */
    /* background: white; */
}

.Day.today .Day-inner {
    color: white;
}
.Day.today {
/* .Day.today > .Day-inner { */
    background: #8cc85b;
}

.Day.other-month{
    border-radius: 0px;
    box-shadow: none;
    background-color: #dbdfe200;
}
.Day.other-month > .Day-inner {
    /* background-color: #bdc3c7; */
}

/*!!  */
/* .month-header {
    color: red;
} */

.errors-div-for-cal-invites{
    font-size: 30px;
    font-weight: 700;
    color: cadetblue;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100%;
    min-width: 200px;
    flex-wrap:wrap;
    padding: 20px;
    margin-right: 30px;
}

.errors-div-for-cal-invites-form{
    width: 90%;
    height: 30px;
    display:flex;
    color: maroon;
    font-weight: 700;
    align-items:center;
    justify-content:center;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius:5px;
}

/* Calendar Form Dropdown */

.cal-form-dropdown{
    width: 300px;
}

.dropdown-toggle{
    color: black;
}