.cal-form-header {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.cal-form-label {
    font-family: 'Nunito', sans-serif;
}

.cal-form {
    padding: 20px 150px;
}

.cal-title {
    font-size: 30px;
    color: #1d5e66;
    text-align: center;
}

.outer-div-container-calendar{ 
    display:flex;
    width: 90%;
    justify-content: space-between;
}