.profile-username, .profile-email, .profile-matches {
    font-family: 'Nunito', sans-serif;
    
}

.profile-username{
    color: #1d5e66;
    background-color: #92CB63;
    font-size: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}


.profile-email {
    /* background-color: rgb(66, 169, 182); */
    color: rgb(221, 243, 247);
    background-color: #42a9b6;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;

}

.profile-container {
    color: cadetblue;
    width: 100%;
}