.outer-dashboard-container {
    display:flex;
    flex-direction: column;
}

.dashboard-content-container {
    display: flex;
    justify-content: space-between;
    background-color: #DDF1CA;
}

.left-side-dashboard-container, 
.middle-side-dashboard-container,
.right-side-dashboard-container
{
    display:flex;
    flex-direction:column;
    width: 33%;
    align-items: center;
    margin: 10px;
     /* border: cadetblue 3px solid; */
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);

}

.left-side-dashboard-container {
}

.middle-side-dashboard-container {
  

}

.right-side-dashboard-container {

}

.cal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: cadetblue;
  
}

.cal-btn {
    padding: 4px;
    margin: 5px;
    font-family: 'Nunito', sans-serif;
}

.read-of-the-day-outer-div {
    line-height: 1.2;
    font-size: 14px;
}
.read-of-the-day-outer-div  > h1 {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}


/* Styles each of the 3 columns within the dashboard */
