.books-feed-list-item, .bookclubs-feed-list-item, .posts-feed-list-item {
    color: #42a9b6;
    text-decoration: none;
    margin: 1px;
    font-size: 20px;
}

.match-feed-btn {
    display: flex;;
    font-size: 30px;
    width: 98%;
    color: rgb(42, 135, 147);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #AFDC8B;
    border: none;
    align-items: center;
    align-content: center;
}

.match-feed-btn:hover {
    cursor: pointer;
    background-color: #9CD170;
}
.matches-feed-container {
    width: 100%;
    height: 30%;
}

.matches-feed-list-item > h2{
    width: 80%;
    color: #1d5e66;
    background-color: #92CB63;

    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    border-radius: 5px;

}

.matches-feed-list-item > h2:hover {
    text-decoration: none;
}

#matches-feed-list {
    display: block;
}

.match-user-invite {
    height: 30px;
    width: 15%;
    border: none;
    background-color:  #42a9b6;
    color: white;
    border-radius: 5px;
}

.match-user-invite:hover {
    cursor: pointer;
}