.books-feed-list-item, .bookclubs-feed-list-item, .posts-feed-list-item {
    color: #42a9b6;
    text-decoration: none;
    /* margin: 1px; */
    font-size: 20px;
}

.match-feed-btn {
    display: flex;
    font-size: 30px;
    width: 98%;
    color: rgb(42, 135, 147);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #AFDC8B;
    border: none;
    align-items: center;
    align-content: center;
}

.match-feed-btn:hover {
    cursor: pointer;
    background-color: #9CD170;
}
.matches-feed-container {
    width: 100%;
    border-radius: 5px;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.matches-link-item{
    width: 80%;
    color: #1d5e66;
    background-color: #92CB63;

    text-decoration: none;
    /* margin: 5px; */
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px

}

.matches-link-item:hover {
    text-decoration: none;
    background-color: #9CD170;
}

.match-user-invite {
    height: 30px;
    width: 20%;
    border: none;
    background-color:  #42a9b6;
    color: white;
    border-radius: 5px;
}

.match-user-invite:hover {
   background-color: #6abec9;
}

.ul-matches-container{
    width: 100%;
}

.div-matches-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%
}

.matches-feed-list-item{
    width: 95%;
    margin-top: 5px;
    display:flex;
    justify-content: space-between;
}

.div-matches-container:last-child{
    margin-bottom: 10px;
}