.invites-outside-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
}
.top-invites-inner-container{
    display:flex;
    /* align-items: flex-start; */
    width: 95%;
    justify-content: space-between;
}


.top-invites-inner-container > p {
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    align-items: center;
    background-color: #42a9b6;
}

.invites-dropdown-li-items{
    width: 100%;
}
.inviter-label{
    margin-right: 30px;
}

.invites-dropdown-container {
    width: 100%;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.individual-invite-li-container{
    display:flex;
    min-height: 30px;
    margin-top: 5px;
    width: 95%;
    justify-content:space-between;
}

.invites-toggle-button {
    display: flex;
    font-size: 30px;
    width: 98%;
    color: rgb(42, 135, 147);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #AFDC8B;
    border: none;
    align-items: center;
    align-content: center;
}

.invites-toggle-button:hover {
    cursor: pointer;
    background-color: #9CD170;
}

.invites-button-container-div{
    width: 20%;
    display:flex;
}
.invites-hidden-button{
    width: 60px;
    height: 30px;
}
.hidden-button-div{
    width: 20%;
    display:flex;
}

.invites-join-button,
.invites-deny-button {
    display: flex;
    align-items:center;
    width: 60px;
    justify-content: center;
    margin-left: 5px;
    border:none;
    height: 30px;
    color: white;
    border-radius: 5px;
}

.invites-join-button{
    background-color: #92cb63;
}

.invites-join-button:hover{
    background-color: #7EB451;
    color: rgb(221, 243, 247);
}

.invites-deny-button{
    background-color: maroon;
}
.invites-deny-button:hover{
    background-color: red;
}

.invites-outer-label{
    display:flex;
    align-items: flex-start;
    width: 40%;
    min-height: 30px;
    background-color:#92cb63;
    border-radius: 5px;
    align-items: center;
    font-size:20px;
    padding:5px;
    margin-right: 10px;
    flex-wrap:wrap;
}

.invites-outer-label >a {
    text-decoration:none;
    color: #1d5e66
}
.invites-outer-label > a:hover {
    color: #0056b3;
}


/* Calendar Invites */

.calendar-invite-container-div{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 5px;
}

.calendar-invite-container-div > p {
    margin-right: 10px;
    font-size: 18px;
    width: 40%;
    min-height: 30px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(29 94 102);
    font-weight: 600;
    background-color: #92cb63;
}