.invites-outside-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
}
.top-invites-inner-container{
    display:flex;
    /* align-items: flex-start; */
    width: 95%;
    justify-content: space-between;
}


.top-invites-inner-container > p {
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    align-items: center;
    background-color: #42a9b6;
}

.invites-dropdown-li-items{
    width: 100%;
}
.inviter-label{
    margin-right: 30px;
}

.invites-dropdown-container {
    width: 100%;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.individual-invite-li-container{
    display:flex;
    min-height: 30px;
    margin-top: 5px;
    width: 95%;
    justify-content:space-between;
}

.invites-toggle-button {
    display: flex;
    font-size: 30px;
    width: 98%;
    color: rgb(42, 135, 147);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #AFDC8B;
    border: none;
    align-items: center;
    align-content: center;
}

.invites-toggle-button:hover {
    cursor: pointer;
    background-color: #9CD170;
}

.invites-toggle-button > i {
    background-color: transparent;
    
}

.invites-toggle-button > i:hover {
    background-color: transparent;

}

.invites-button-container-div{
    width: 20%;
    display:flex;
}
.invites-hidden-button{
    width: 60px;
    height: 30px;
}
.hidden-button-div{
    width: 20%;
    display:flex;
}

.invites-join-button,
.invites-deny-button {
    display: flex;
    align-items:center;
    width: 60px;
    justify-content: center;
    margin-left: 5px;
    border:none;
    height: 30px;
    color: white;
    border-radius: 5px;
}

.invites-join-button{
    background-color: #92cb63;
}

.invites-join-button:hover{
    background-color: #7EB451;
    color: rgb(221, 243, 247);
}

.invites-deny-button{
    background-color: maroon;
}
.invites-deny-button:hover{
    background-color: red;
}

.invites-outer-label{
    display:flex;
    align-items: flex-start;
    width: 40%;
    min-height: 30px;
    background-color:#92cb63;
    border-radius: 5px;
    align-items: center;
    font-size:20px;
    padding:5px;
    margin-right: 10px;
    flex-wrap:wrap;
}

.invites-outer-label >a {
    text-decoration:none;
    color: #1d5e66
}
.invites-outer-label > a:hover {
    color: #0056b3;
}


/* Calendar Invites */

.calendar-invite-container-div{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 5px;
}

.calendar-invite-container-div > p {
    margin-right: 10px;
    width: 100%;
    min-height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #92cb63;
    padding: 5px;
}

.individual-calendar-invite-container{
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: #92cb63;
}

.div-container-for-the-outer-title{
    display:flex;
    flex-direction:column;
}

.div-container-for-the-outer-title > p {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 26px;
    width: 350px;
    flex-wrap: wrap;
}

.individual-calendar-invite-container > p {
    color: rgb(29 94 102);
    font-weight: 600;
    font-size: 18px;
    background-color: #92cb63;

}

.invite-name-container{
    position: relative;
}


.calendar-invite-info{
    display:none;
    position: absolute;
    z-index: 20;
    min-width: 200px;
    min-height: 100px;
    left: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid cadetblue;
}

.right-side-div-for-cal-invite{
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content:space-between;
    width: 200px;
    padding:10px;
    margin:5px;
}

.right-side-div-for-cal-invite > h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
}

.right-side-div-for-cal-invite >p {
    display: flex;
    margin-top: 5px;
}

.inner-outer-div-for-cal-invite,
.inner-button-div-for-cal-invite{
    display:flex;
}

.image-for-cal-invite-book{
    width: 150px;
    height: auto;
}