.about-page-outer-container{
    display:flex;
    flex-wrap: wrap;
    height: 85vh;
    width:100%;
    justify-content: center;
    align-items:center;
}

.about-page-inner-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
}

.about-page-inner-links-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 80px;
    font-size: 30px;
    font-weight: 700;
}

.about-page-inner-links-container > a > img {
    width: 100px;
}

.about-page-links-container {
    display: flex;
    margin: 40px;
}

.about-page-links-container > a {
    margin: 20px;
}

.about-page-links-container > a > img {
    width: 100px;
}
