html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video  {
    font-family: 'Nunito', sans-serif;
}

* {   
    background-color: rgb(199, 234, 171);
}




.app-outside-container {
    display:flex;
    min-height: 100vh;
    flex-direction:column;
}

.app-middle-container {
    flex:1;
    background-color: #DDF1CA;

}


.dashboard-header,
.profile-label {
    display: flex;
    font-size: 30px;
    width: 98%;
    color: rgb(42, 135, 147);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #AFDC8B;
    border: none;
    align-items: center;
    align-content: center;
}

.hidden{
    display: none !important;
}

.show{
    display: block !important;
}

.show-flex{
    display: flex !important;
}

.invisibile{
    visibility: none;
}