h1, h2, h3, p, input {
    font-family: 'Nunito', sans-serif;
}



.app-outside-container {
    display:flex;
    min-height: 100vh;
    flex-direction:column;
}

.app-middle-container {
    flex:1;
}