
.book-show-all-ul{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    align-items: center;
}

.outer-div-book-show-all{
    height: 100vh;
    display:flex;
    flex-direction:column;
}

.show-all-h1 {
    font-size: 42px;
    font-weight: 700;
    width: 100%;
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.book-show-all-link {
    height: 300px;
    width: 350px;
    margin: 10px;
}

.book-show-all-item-div {
    height: 300px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(244, 250, 237) !important;
    display: flex;
    flex-direction: row;
    border: 3px transparent solid;
    align-items: center;
}


.book-show-all-text {
    font-size: 16px;
    font-weight: 600;
    background-color: 	rgb(244, 250, 237) !important;
}

.book-show-all-text > p{
    margin-top: 10px;
    margin-bottom:10px;
    background-color: 	rgb(244, 250, 237) !important;
}
.book-show-all-text > p:hover {
    text-decoration:none;
}

.book-show-all-item-div:hover{
    border: cadetblue 3px solid;
    text-decoration:none;
}

.book-show-all-link:hover {
    text-decoration:none;
}

.book-show-all-cover-photo {
    height: 100%;
    width: auto;
    margin-right: 5px;
}