.bookclub-show-container {
    border: 1px solid red;
    width: 90%;
    margin: 10px auto;
}
.bookclub-show-container * {
    padding: 10px;
}
.bookclub-show-container h1 {
    font-size: 20px;
    font-weight: bold;
}
