.bookclubs-feed-list-item * {
    background-color: inherit;
}
.bookclubs-feed-list *:hover {
    text-decoration: none;
    background-color: rgb(80, 160, 170) !important;
}
.bookclubs-feed-list-item {
    font-size: 15px;
    background-color: rgb(119, 199, 209) !important;
    color: white;
    padding: 10px;
    width: 80%;
    margin: 5px auto;
    border-radius: 5px;
    /*  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}