
.book-show-all-ul{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.outer-div-book-show-all{
    height: 100vh;
    display:flex;
    flex-direction:column;
}

.book-show-all-title{
    font-size: 20px;
    font-weight: 700;
}

.book-show-all-author{
    font-size: 18px;
    font-weight: 600;
    font-style:italic;
}

.show-all-h1 {
    font-size: 42px;
    font-weight: 700;
    width: 100%;
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.book-show-all-link {
    height: auto;
    width: auto;
    margin: 10px;
}

.book-show-all-text {
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    border-radius: 5px;
    top: 20%;
    margin-left: 10%;
    color: black;
    padding: 5px;
    z-index: 100;
    font-size: 16px;
    font-weight: 600;
    background-color: #8cc85b !important;
    border: 3px solid cadetblue;
}

.book-show-all-text > p{
    margin-top: 10px;
    margin-bottom:10px;
    background-color: #8cc85b  !important;
}
.book-show-all-text > p:hover {
    text-decoration:none;
}


.book-show-all-link:hover {
    text-decoration:none;
}

.book-show-all-cover-photo {
    height: 300px;
    width: auto;
}