.book-show-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 85vh;
}

.book-show-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.book-show-cover-photo {
    border-color: black;
    padding: 10px;
    width: 800px;
    height: 600px;
}

.book-show-title {
    font-size: xx-large;
    font-weight: 900;
    margin-bottom: 10px;
}

.book-show-author {
    font-size: x-large;
    font-weight: lighter;
    margin-bottom: 10px;
}

.book-show-description {
    line-height: 1.5;
}

.book-show-info-container {
    display: flex;

}
/* .book-show-isbn {

} */