.book-show-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center; 
    justify-content: center;
    /* padding: 10px; */
    /* height: 85vh; */
    width: 100%;
   /* position: relative; */
   /* bottom: 50px; */
}

.book-show-details {
    padding: 10px;
    margin: 10px;
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
}

.book-show-cover-photo {
    border-color: black;
    padding: 10px;
    width: 600px;
    height: auto;

}

.book-show-title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.book-show-author {
    font-size: x-large;
    font-weight: lighter;
    margin-bottom: 10px;
}

.book-show-description {
    line-height: 1.5;
}


.book-show-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: auto;
    padding: 20px;
    width: 70%;

}

#book-show-follow-btn {
    /* margin: 10px; */
    margin-bottom: 10px;;
    height: 30px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
}

#book-show-follow-btn:hover {
   background-color: cadetblue !important;
    /* color: red; */
}

.user-match-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 900px;
    padding: 20px;
    
}

.user-matches {
    height: 650px;
    justify-content: center;
}

.book-show-user-matches-text {
    width: 300px;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: cadetblue;
    padding: 10px;
    height: 250px;
    margin-top: 50px;

}

.matched-user > button {
    margin: 10px;
    height: 35px;
    width: 300px;
    padding: 5px;
    background-color: rgb(66, 169, 182);
    font-size: 25px;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    border: none;
    text-decoration: none;

}

.matched-user > button:hover {
    background-color: cadetblue;
    cursor: pointer;
    text-decoration: none;

}

/* .book-show-isbn {

} */