.bookclub-show-container {
    border: 3px solid cadetblue;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    /*  */
}
.bookclub-show-content-container{
    display: flex;
    justify-content: space-between;
    min-height: 500px;
}
.bookclub-header {
    font-size: 30px;
    font-weight: bold;
}
.bookclub-title {
    font-size: 30px;
}
.bookclub-forums-list {
    font-weight: normal;
}
.bookclub-books-list *{
    font-weight: normal;
}
.bookclub-users-list-item {
    background-color: cadetblue;
}

.left-side-user-show-container, 
.middle-side-user-show-container,
.right-side-user-show-container
{
    display:flex;
    flex-direction:column;
    width: 33%;
    align-items: center;
    margin: 10px;
    border: cadetblue 3px solid;
    border-radius: 5px;
    /*  */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
}
