
.book-show-all-ul{
    display:flex;
    flex-wrap:wrap;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.outer-div-book-show-all{
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.book-show-all-title{
    font-size: 20px;
    font-weight: 700;
}

.book-show-all-author{
    font-size: 18px;
    font-weight: 600;
    font-style:italic;
}

.show-all-h1 {
    font-size: 42px;
    font-weight: 700;
    width: 100%;
    display:flex;
    justify-content:center;
    margin-top:40px;
}

.book-show-all-link {
    height: auto;
    width: auto;
    margin: 10px;
}


.book-show-all-text > p{
    margin-top: 10px;
    margin-bottom:10px;
    background-color: #8cc85b  !important;
}
.book-show-all-text > p:hover {
    text-decoration:none;
}


.book-show-all-link:hover {
    text-decoration:none;
}

.book-show-all-cover-photo {
    height: 225px;
    width: 150px;
}

.container-for-book-show-item{
    position: relative;
    margin-top: 10px;
}

.book-show-all-text {
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-left: 10%;
    margin-bottom: 20%;
    color: black;
    padding: 5px;
    z-index: 100;
    font-size: 16px;
    font-weight: 600;
    background-color: #8cc85b !important;
    border: 3px solid cadetblue;
    
    top: 80px;
    left: 130px;
}

.container-tabs-book-show-all{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 5px;
    widtH: 100%;
}

.container-tabs-book-show-all > p {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* width: 80 px; */
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.container-tabs-book-show-all > p:hover {
    /* background-color: #8cc85b; */
    color: cadetblue;
}

/* Show all container */

.book-show-singular-ul{
    display:flex;
    width: 40%;
}

.all-book-show-outer-div > h1 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid slategrey;
}