.bookclub-show-container {
    border: 1px solid red;
    width: 90%;
    margin: 10px auto;
}
.bookclub-show-container * {
    padding: 10px;
}
.bookclub-show-container h1 {
    font-size: 20px;
    font-weight: bold;
}

.bookclubs-feed-list-item * {
    background-color: inherit;
}
.bookclubs-feed-list *:hover {
    text-decoration: none;
    background-color: rgb(80, 160, 170) !important;
}
.bookclubs-feed-list-item {
    font-size: 15px;
    background-color: rgb(119, 199, 209) !important;
    color: white;
    padding: 10px;
    width: 80%;
    margin: 5px auto;
    border-radius: 5px;
    /*  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Bookclub Modal */

.modal-bookclub-creation{
    top: 40%;
    background: transparent;
    height: 400px;
}

.modal-bookclub-creation-content{
    display:flex;
    flex-direction:column;
    padding: 5px;
}

.modal-bookclub-header {
    font-size: 40px;
    font-weight: 600;
}

.form-bookclub-creation{
    display:flex;
    flex-direction: column;
}