.bookclubs-feed-list-item * {
    background-color: inherit;
}

.bookclubs-feed-list a:hover {
    text-decoration: none;
    background-color: rgb(80, 160, 170) !important;
}
.bookclubs-feed-list-item{
    font-size: 18px;
    background-color: rgb(119, 199, 209) !important;
    color: white;
    padding: 10px;
    width: 100%;
    height: 40px;
    margin: 5px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.bookclubs-feed-list{
    width: 95%;
    margin-bottom: 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.bookclubs-delete-button{
    background-color: brown;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
    border:none;    
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
}

.bookclubs-delete-button:hover {
    background-color: gray;

    
}

/* Bookclub Modal */

.modal-bookclub-creation{
    background: transparent;
    height: 100%;
}

.modal-bookclub-dialog-class{
    top: 30%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height: 250px;
    width: 600px;
    background-color: #c7eaab;
}

.modal-bookclub-creation-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 100%;
    justify-content: space-between; 
    background-color: #c7eaab;
    border:none;
} 

.modal-bookclub-header {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 600;
}

.form-bookclub-creation{
    display:flex;
    flex-direction: column;
    width: 95%;
}

.modal-bookclub-input-title{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom:5px;
}

.create-bookclub-button{
    background-color: rgb(66, 169, 182);

    height: 40px;
    margin-top: 5px;
    margin-bottom:5px;
    border-radius: 5px;
    color: rgb(221, 243, 247);

    border-style: none;
    font-family: 'Nunito', sans-serif;
}

.close-bookclub-button{
    background-color: rgb(66, 169, 182);

    height: 40px;
    margin: 5px;
    border-radius: 5px;
    width: 95%;
    color: rgb(221, 243, 247);

    border-style: none;
    font-family: 'Nunito', sans-serif;
}