   .forum-index-container > h1 {
        top: 20px;
        font-weight: 600;
        font-size: 85px;
        color: #8cc85b;
        background-color: #DDF1CA;
        text-align: center;
        padding: 15px;
        border-radius: 15px;
   } 


  .forum-index-container {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
      

  }

  .forum-index-forums {
      padding: 20px;
  }

   .forum-index-forums-title {
    background-color: rgb(66, 169, 182);
       width: 600px;
       height: 40px;
       padding: 5px;
       margin: 5px;
       color: white;
       border-radius: 5px;
        display:flex;
        align-items:center;
        justify-content: center;
   }

.forum-index-forums-title:hover {
    cursor: pointer;
       background-color: cadetblue;

}
