i {
    margin: 0 10px;
}

.forum-show-container {
    border: 3px solid cadetblue;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    /*  */
}
.forum-title {
    font-size: 30px;
}
.forum-show-posts {
    margin-top: 10px;
    border: 1px solid black;
}
.forum-show-post-item {
    padding: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.forum-show-post-actions {
    display: flex;
    flex-direction: row;
}