
.onboarding-container {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.onboarding-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    justify-content: space-evenly;
    height: inherit;
}

.onboarding-form > h1 {
    font-weight: bold;
    color: #0E6B3D;
    text-shadow: 0px 0px 3px yellow;
    /* color: #064D34; */
    
}
.preferences-container {
    display: flex;
    /* margin: 10px; */
}
.preferences {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* margin: 100px; */
    width: 400px;
    margin-right: 20px;
    cursor: pointer;
    border: 2px transparent solid;
}

.preferences > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;   
}

.selected-meeting-time {
    border: 2px solid rgb(85, 150, 35);
    background-color: rgb(221, 243, 247);
    border-radius: 5px;
}

.selected-meeting-time > a > h2 {
    background-color: rgb(221, 243, 247);
}

.selected-meeting-time > a > p {
    background-color: rgb(221, 243, 247);
}

.preferences > h2 {
    font-size: 45px;
    margin-left: 5px;
    margin-top: 10px;
}

.preferences-timing {
    font-size: 20px;
    font-weight: lighter;
}

.checkbox {
    cursor: pointer;
    margin-top: 10px;
}

.books-ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-index-cover-photo {
    width: 300px;
    margin: 30px;
    height: 400px;
    border: 1px transparent solid;
    cursor: pointer;
}

.book-index-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onboarding-continue-button {
    /* margin-top: 50px; */
    width: 300px;
    height: 100px;
    border-radius:5px;
    font-size: 50px;
    font-weight: 600;
}

.selected-book-preference {
    border: 15px solid rgb(85, 150, 35);
    background-color: rgb(221, 243, 247);
    border-radius: 5px;
}
/* give images a 1px border, transparent
    when you click it, you should have a ternary in the handle click that gives the image a class
*/


/* EXTRA STUFF TO LOOK AT LATER IF YOU HAVE TIME :) */
/* .checkbox:hover {
    border: 20px solid #4778d9 !important;
} */