.user-show-posts * {
    background-color: unset !important;
}
.user-show-posts {
    background-color: unset !important;
}

.posts-feed-list-item > p {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #67C3B2;
    text-decoration: none;
}
.posts-feed-list-item > p:hover {
    background-color: #47B6B4;
    text-decoration: none;
}


.posts-feed-list-item {
    text-decoration: none;
}