.user-show-container {
    border: 1px solid red;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.user-show-label {
    font-size: 30px;
}
.user-show-details {
    /* background-color: rgb(194, 250, 194);
    min-height: 300px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 10px; */
    width: 100%;
}
