.home-page-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel {
    display:flex;
    width:60%;
    margin-top: 20px;
}

.carousel-item {
    width: 100%;
    height: 400px;
}

.carousel-item-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.carousel-item-container > img {
    width: 280px;
    height: 100%;
    height: auto;
    border-radius:5px;
    margin-top:20px;
}
.carousel-item-container > .alex-picture-carousel{
    width: 200px;
}

.carousel-caption {
    background-color: #2a8793;
    width: 70%;
    border-radius:5px;
    margin-bottom: 5px;
}

.carousel-caption > * {
    background-color: #2a8793;
}

.carousel-caption > h3 {
    font-size: 20px;
    font-weight: 600;
}

.carousel-caption > h2 {
    font-size: 16px;
    font-weight: 500;
}

.carousel-caption >p {
    font-size:14px;
    font-weight:500;
}


/* Container for Carousels */
.outside-carousel-container,
.front-page-carousel-container{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #DDF1CA;
}
.carousel,
.carousel-item-container,
.carousel-item,
.home-page-carousel-container,
.carousel > ol {
    background-color: #DDF1CA;
}
.carousel > ol >li{
    color: black;
    background-color: black;
}

.front-page-carousel-container-description{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.front-page-carousel-container-description > p {
    font-size: 38px;
    font-weight: 600;
    display:flex;
    color: #2a8793;
}