.home-page-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel {
    display:flex;
    width:100%;
    margin-top: 20px;
    background-color: #2a8793
}

.carousel-item {
    width: 100%;
    height: 400px;
}

.carousel-item-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.carousel-item-container > img {
    width: 300px;
    height: auto;
    border-radius:5px;
    margin-top:20px;
}

.carousel-caption {
    background-color: #2a8793;
    border-radius:5px;
}

.carousel-caption > * {
    background-color: #2a8793;
}

.carousel-caption > h3 {
    font-size: 20px;
    font-weight: 600;
}

.carousel-caption > h2 {
    font-size: 16px;
    font-weight: 500;
}

.carousel-caption >p {
    font-size:14px;
    font-weight:500;
}


/* Container for Carousels */

.front-page-carousel-container{
    display:flex;
    width:100%;
    height:auto;
    justify-content:space-evenly;
}

.front-page-carousel-container-description{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.front-page-carousel-container-description > p {
    font-size: 60px;
    font-weight: 600;
    display:flex;
    color: #2a8793;

}