.home-page-outer-container {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.fadeIn {
    -webkit-animation: fade_in_animation 0.8s;
    animation: fade_in_animation 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes fade_in_animation{
    0%{opacity:0}
    50%{opacity:0.5}
    100%{opacity:1}
}


/* Front Page Header/Top Container  */
.front-page-top-container {
    display:flex;
    width: 100%;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
    background-color: #8cc85b;
}

.front-page-top-container > img {
    width: 600px;
    background-color: #8cc85b;
    border-radius: 5px;
}

.front-page-top-text-container{
    background-color: #8cc85b;
    display:flex;
    flex-direction: column;
    align-items:center;
    width:45%
}
.front-page-top-text-container > h1 {
    background-color: #8cc85b;
    font-size: 60px;
    font-weight: 600;
    color: rgb(221, 243, 247);
    margin: 10px;
}
.front-page-top-text-container > p {
    background-color: #8cc85b;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    color: #2a8793;
    display:flex;
    justify-content:center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Front Page Dashboard */

.front-page-dashboard-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.front-page-dashboard-container-img {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    visibility: hidden;
}

.front-page-dashboard-container > h1 {
    color: #559623;
    font-size: 38px;
    font-weight: 600;
    display:flex;
    align-items: center;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* Left/Right Image CSS */

.front-page-right-container,
.front-page-left-container {
    display:flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.front-page-right-container > img,
.front-page-left-container > img {
    width: 60%;
}

.front-page-right-text-container,
.front-page-left-text-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:10px;
}

.front-page-right-text-container > h1,
.front-page-left-text-container > h1{
    font-size: 38px;
    font-weight: 600;
    width: 100%;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #559623;
}
.front-page-right-text-container > p,
.front-page-left-text-container > p {
    font-size: 28px;
    font-weight: 500;
    width: 90%;
    color:#2a8793;
}

/* Signup Container CSS */

.front-page-signup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.front-page-signup-container > p{
    font-size:60px;
    font-weight: 500;
    color: #2a8793;
    margin-top: 20px;
}

.front-page-signup-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 150px;
    font-size: 60px;
    font-weight: 600;
    background-color: #8cc85b;
    color: rgb(221, 243, 247);
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.front-page-signup-link:hover {
    background-color: #7EB451;
    color: rgb(221, 243, 247);
    text-decoration: none;
}