@import  url('styles/css-reset.css');

@import url('styles/onboarding.css');
@import url('styles/base.css');

@import url('styles/nav-bar.css');
@import url('styles/color-bg.css');
@import url('styles/login-form.css');
@import url('styles/sign-up-form.css');

/* Dashboard */
@import url('styles/dashboard/dashboard-outer.css');
@import url('styles/dashboard/calendar/calendar-form.css');

/* Homepage */

@import url('styles/homepage/carousel.css');
@import url('styles/homepage/homepage.css');

/* Footer */

@import url('styles/footer.css');

/* About Page */

@import url('styles/about.css');