@import  url('styles/css-reset.css');

@import url('styles/onboarding.css');
@import url('styles/base.css');

@import url('styles/nav-bar.css');
@import url('styles/color-bg.css');

/* Dashboard */
@import url('styles/dashboard/dashboard-outer.css');

