@import  url('styles/css-reset.css');

/* Background img */
@import  url('styles/background-img.css');

@import url('styles/onboarding.css');
@import url('styles/base.css');

@import url('styles/nav-bar.css');

@import url('styles/signup-login-form.css');

/* Dashboard */
@import url('styles/dashboard/dashboard-outer.css');
@import url('styles/dashboard/dashboard_profile.css');
@import url('styles/dashboard/calendar/calendar-form.css');
@import url('styles/dashboard/dashboard-match.css');
@import url('styles/dashboard/preferences_modal.css');
@import url('styles/dashboard/dashboard-invites.css');


/* Books */
@import url('styles/book-show.css');
@import url('styles/book_show_all.css');

/* Homepage */

@import url('styles/homepage/carousel.css');
@import url('styles/homepage/homepage.css');

/* About Page */

@import url('styles/about.css');

/* Bookclub */
@import url('styles/bookclub_show.css');
@import url('styles/bookclub.css');
@import url('styles/book.css');

/* Profile */
@import url('styles/profile.css');

/* User Show */
@import url('styles/user_show.css');
/* Feed */
@import url('styles/posts.css');

/* Forums */
@import url('styles/crud_buttons.css');
@import url('styles/forum_index.css');
@import url('styles/forum_show.css');